* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.head {
	height: 50px;
	margin: 0 auto 50px auto;
	background: linear-gradient(to right, rgb(255,252,253), rgb(250,250,255));
	box-shadow: 0 2px 5px 5px #ececec;
}

div.image {
	position: relative;
	height: 220px;
	overflow: hidden;
}

img#main-img {
	min-width: 100%;
	min-height: 100%;
}

.next {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: rgba(230, 230, 230, 0.5);
	position: absolute;
	z-index: 1000;
	top: 100px;
	cursor: pointer;
}

.next:hover {
	background-color: rgba(230, 230, 230, 0.8);
}

#left {
	left: 20px;
}

#right {
	right: 20px;
}

.navi {
	margin-top: 10px;
	margin: auto;
	width: 70px;
	height: 20px;
}

.circle {
	background-color: #ccc;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	display: inline-block;
	margin: auto;
	cursor: pointer;
}

.circle:hover {

	background-color: #888;
}